altair
holoviews
hvplot
ipykernel<6 # https://github.com/holoviz/panel/issues/2593
ipywidgets_bokeh
jupyter-bokeh
# jupyter-panel-proxy==0.2.0a2
jupyter-server-proxy
jupyterlab
matplotlib
pandas
panel
plotly
plotnine
scipy
seaborn
vega_datasets
pydeck
pyecharts
vtk
pyvista